.about {
    position: relative;
}

.about__title {
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 100px;
    text-transform: uppercase;
    text-align: center;
}

.about::before {
    content: ' ';
    position: absolute;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 511.999 511.999' style='enable-background:new 0 0 511.999 511.999;' xml:space='preserve'%3E%3Cpath style='fill:%23414B82;' d='M87.191,286.309v199.278c0,13.421,10.88,24.301,24.301,24.301s24.301-10.88,24.301-24.301V286.309 H87.191z'/%3E%3Cpath style='fill:%23343E6B;' d='M191.469,286.309h-55.715l43.41,75.715v96.416c0,13.5,10.944,24.443,24.443,24.443 c13.5,0,24.443-10.944,24.443-24.443V355.391c0-4.343-1.157-8.607-3.353-12.355L191.469,286.309z'/%3E%3Cpath style='fill:%23252D5C;' d='M305.268,225.471l-61.436-32.913v-47.632c0-0.034,0-0.068,0-0.103 c-0.133-26.446-21.925-47.963-48.578-47.963h-54.646l0,0H86.462c-26.704,0-48.538,21.39-48.67,47.683c0,0.034,0,0.068,0,0.102 v148.775c0,11.185,9.066,20.251,20.251,20.251s20.251-9.066,20.251-20.251V144.713c0.043-3.85,3.926-7.349,8.168-7.349h0.729 v153.983h106.84V137.601h1.223c4.216,0,7.797,3.381,7.839,7.391v59.762c0,7.509,4.131,14.409,10.75,17.955l72.186,38.672 c3.063,1.64,6.355,2.418,9.603,2.418c7.268,0,14.301-3.9,17.973-10.755C318.916,243.129,315.184,230.784,305.268,225.471z'/%3E%3Cpath style='fill:%231B224A;' d='M313.604,253.046c5.313-9.917,1.58-22.262-8.335-27.575l-61.436-32.913v-47.632 c0-0.034,0-0.068,0-0.103c-0.066-13.223-5.547-25.214-14.344-33.899c-8.796-8.685-20.907-14.064-34.234-14.064h-54.646v40.739 v40.351v113.395h53.422V137.601h1.223c4.272,0,7.798,3.463,7.839,7.391v59.762c0,7.509,4.131,14.409,10.75,17.955l72.186,38.672 c0.001,0.001,0.003,0.001,0.004,0.002C295.944,266.688,308.302,262.942,313.604,253.046z'/%3E%3Cpath style='fill:%23FFFFFF;' d='M305.268,225.471l-9.518-5.098l-18.427,36.346l8.704,4.663c3.063,1.64,6.355,2.418,9.603,2.418 c7.268,0,14.301-3.9,17.973-10.755C318.916,243.129,315.184,230.784,305.268,225.471z'/%3E%3Cpath style='fill:%23FFB69E;' d='M305.268,225.471l-19.239,35.911c3.063,1.64,6.355,2.418,9.603,2.418 c7.268,0,14.301-3.9,17.973-10.755C318.916,243.129,315.184,230.784,305.268,225.471z'/%3E%3Cpath style='fill:%23CD2D23;' d='M285.648,113.897c0-30.349,0-60.697,0-91.047c61.63,49.886,123.26,3.722,184.889,29.467 c2.59,1.082,4.079,3.819,3.58,6.582c-0.499,2.762-2.852,4.805-5.657,4.913C407.523,66.172,346.586,136.985,285.648,113.897z'/%3E%3Cpath style='fill:%23C8D2DC;' d='M285.648,452.819c-6.23,0-11.283-5.051-11.283-11.283V22.782c0-6.231,5.052-11.283,11.283-11.283 s11.283,5.051,11.283,11.283v418.755C296.931,447.768,291.879,452.819,285.648,452.819z'/%3E%3Cpath style='fill:%2380391B;' d='M159.807,502.725c-1.214,1.837-1.321,4.192-0.278,6.131c1.043,1.939,3.068,3.142,5.27,3.142h261.923 c2.452,0,4.655-1.496,5.559-3.775c0.904-2.279,0.326-4.88-1.46-6.56c-22.836-21.487-79.602-69.028-135.173-69.395 c-31.136-0.205-34.897,27.831-84.541,39.865C179.893,479.701,165.898,493.514,159.807,502.725z'/%3E%3Ccircle style='fill:%23FFB69E;' cx='140.817' cy='41.97' r='41.97'/%3E%3Cpath style='fill:%23FFFFFF;' d='M37.786,282.976v10.446c0,11.185,9.066,20.251,20.251,20.251s20.251-9.066,20.251-20.251v-10.446 H37.786z'/%3E%3Cpath style='fill:%23FFB69E;' d='M37.786,292.9v0.521c0,11.185,9.066,20.251,20.251,20.251s20.251-9.066,20.251-20.251V292.9H37.786z' /%3E%3Cpolygon style='fill:%23FFFFFF;' points='109.918,96.861 140.608,177.951 171.724,96.861 '/%3E%3Cpath style='fill:%23CD2D23;' d='M154.257,124.466l-6.864-12.485l5.916-10.76c1.076-1.957-0.342-4.359-2.578-4.359h-19.833 c-2.233,0-3.655,2.4-2.578,4.359l5.936,10.796l-6.845,12.451c-0.948,1.724-1.256,3.727-0.871,5.656l4.222,21.435l9.846,26.392 l10.273-26.397l4.246-21.428C155.514,128.195,155.206,126.191,154.257,124.466z'/%3E%3Cpath style='fill:%23B71A16;' d='M154.257,124.466l-6.864-12.485l5.916-10.76c1.076-1.957-0.341-4.359-2.578-4.359h-10.123v81.089 l10.273-26.397l4.246-21.428C155.514,128.195,155.206,126.191,154.257,124.466z'/%3E%3Crect x='155.778' y='159.169' style='fill:%23252D5C;' width='26.751' height='8.25'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    width: 540px;
    height: 510px;
    left: 0;
    top: 28px;
}

.about__text {
    display: inline-block;
    max-width: 600px;
    width: 100%;
    float: right;
    margin-bottom: 50px;
}

.about__text-title {
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

.about__text-choice {
    color: #717072;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

.about__contact {
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 15px;
}