.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    width: 100%;
    background: #2b2a2c;
}

.footer__menu {
    display: flex;
    max-width: 400px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.footer__menu-list {
    display: flex;
    max-width: 336px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer__menu-item {
    list-style-type: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.footer__button {
    max-width: 128px;
    height: 33px;
    width: 100%;
    cursor: pointer;
}

.footer__button-text {
    display: block;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.footer__text {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 33px;
    padding-left: 50px;
}