.heading {
    padding-top: 50px;
}

.heading__info {
    max-width: 385px;
    width: 100%;
    padding-top: 100px;
}

.heading__info-title {
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 15px;
}

.heading__info-name {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 70px;
}

.heading__info-subtitle {
    color: #6a696b;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 15px;
}

.heading__link {
    display: grid;
    grid-template-columns: 67px 53px;
    max-width: 53px;
    width: 100%;
    position: relative;
    padding: 10px 0 10px;
}

.heading__img-telegram,
.heading__img-gmail {
    max-width: 53px;
    min-height: 53px;
    width: 100%;
    transition: 1s;
    filter: invert(50%);
}

.heading__img-telegram:hover,
.heading__img-gmail:hover {
    -webkit-filter: invert(100%);
    filter: invert(0%);
}

.heading__button {
    max-width: 420px;
    width: 100%;
    display: flex;
}

.heading__button-text {
    display: block;
    max-width: 150px;
    min-height: 33px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #2b2a2c;
    margin: 15px 40px 0 0;
    text-align: center;
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 33px;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.heading__button-text:hover {
    background: #2b2a2c;
    color: white;
}

.heading__logo {
    position: relative;
    left: 750px;
    bottom: 333px;
}

.heading__logo::before {
    content: ' ';
    position: absolute;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 511.996 511.996' style='enable-background:new 0 0 511.996 511.996;' xml:space='preserve'%3E%3Cpath style='fill:%23FEDAC6;' d='M255.994,401.113c31.028,0.017,59.079-18.473,71.301-46.994l4.094-9.467l-9.382-1.279 c-8.546-1.117-14.917-8.435-14.84-17.058V281.71H204.821v44.776c0.077,8.623-6.294,15.94-14.84,17.058l-9.382,1.279l4.094,9.467 C196.966,382.75,225,401.164,255.994,401.113z'/%3E%3Cpath style='fill:%232E6AA3;' d='M375.908,350.537l-44.52-5.885l-4.094,9.467c-16.93,39.377-62.576,57.578-101.953,40.648 c-18.252-7.846-32.793-22.397-40.648-40.648l-4.094-9.467l-44.52,5.885c-33.885,4.529-59.19,33.441-59.19,67.633v93.817h358.209 v-93.817C435.098,383.987,409.793,355.075,375.908,350.537z'/%3E%3Cpath style='fill:%23F5C4B0;' d='M307.166,328.959v-42.644H204.821v42.644C243.2,345.591,268.787,345.591,307.166,328.959z'/%3E%3Cpath style='fill:%23245E8F;' d='M76.889,418.17v93.817h34.115V359.151C89.913,371.33,76.915,393.821,76.889,418.17z'/%3E%3Crect x='111.038' y='469.335' style='fill:%23FEDAC6;' width='34.115' height='42.644'/%3E%3Crect x='76.923' y='469.335' style='fill:%23F5C4B0;' width='34.115' height='42.644'/%3E%3Cg%3E%3Crect x='366.902' y='469.335' style='fill:%23FEDAC6;' width='68.23' height='42.644'/%3E%3Cpath style='fill:%23FEDAC6;' d='M349.81,228.746c0.111,12.537-4.375,24.674-12.623,34.115l-36.844,41.706 c-6.465,7.36-15.787,11.591-25.586,11.599h-37.356c-9.8-0.009-19.122-4.239-25.586-11.599l-36.844-42.132 c-8.247-9.441-12.733-21.578-12.623-34.115v-74.542L315.695,68.49l34.115,68.23V228.746z'/%3E%3Cpath style='fill:%23FEDAC6;' d='M349.81,145.249h-8.529v51.173h8.529c14.132,0,25.586-11.454,25.586-25.586 C375.397,156.704,363.942,145.249,349.81,145.249z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='fill:%23F5C4B0;' d='M136.591,179.365c0,14.132,11.454,25.586,25.586,25.586h8.529v-51.173h-8.529 C148.045,153.778,136.591,165.241,136.591,179.365z'/%3E%3Cpath style='fill:%23F5C4B0;' d='M199.618,213.48l-3.326-110.874h-30.789l-3.326,121.45c0.043,19.608,8.529,38.252,23.284,51.173 c0,0,34.712,38.038,39.744,40.597l-18.763-53.475C200.838,246.708,198.51,230.068,199.618,213.48z'/%3E%3C/g%3E%3Cpath style='fill:%23A15D30;' d='M366.868,153.778l3.838-50.661c2.635-29.134-17.629-55.377-46.482-60.213l0,0 c-25.629-30.738-67.667-42.303-105.416-28.998l-12.537,4.435c-41.049,14.507-67.147,54.866-63.539,98.252l2.388,45.714h17.058 L315.695,68.49l34.115,85.288H366.868z'/%3E%3Cpath style='fill:%238F4F24;' d='M222.817,13.053l-4.009,1.194l-12.537,4.435c-41.049,14.507-67.147,54.866-63.539,98.252 l2.388,45.373h17.058L201.921,138C199.959,74.546,211.132,35.825,222.817,13.053z'/%3E%3Cpath d='M349.81,204.951h-8.529v-17.058h8.529c9.407,0,17.058-7.65,17.058-17.058c0-9.407-7.65-17.058-17.058-17.058h-8.529v-17.058 h8.529c18.815,0,34.115,15.301,34.115,34.115S368.625,204.951,349.81,204.951z'/%3E%3Cpath d='M170.706,213.48h-8.529c-18.814,0-34.115-15.301-34.115-34.115s15.301-34.115,34.115-34.115h8.529v17.058h-8.529 c-9.407,0-17.058,7.65-17.058,17.058s7.65,17.058,17.058,17.058h8.529V213.48z'/%3E%3Cpath d='M264.522,213.821h-25.586c-2.448,0-4.776-1.049-6.397-2.883c-1.62-1.834-2.371-4.273-2.072-6.704l8.529-68.23l16.921,2.115 l-7.326,58.644h15.923v17.058H264.522z'/%3E%3Crect x='230.441' y='230.87' width='51.173' height='17.058'/%3E%3Cpath d='M274.774,324.704h-37.373c-12.264-0.017-23.915-5.305-31.991-14.499l-36.853-42.149 c-9.629-11.028-14.857-25.16-14.729-39.804v-74.465c0-3.096,1.68-5.945,4.384-7.454L311.55,61.045 c2.038-1.126,4.461-1.39,6.661-0.699c2.226,0.691,4.077,2.252,5.117,4.333l34.115,68.23c0.589,1.186,0.896,2.49,0.896,3.812v92 c0.128,14.61-5.109,28.733-14.738,39.753l-36.87,41.748C298.672,319.399,287.013,324.686,274.774,324.704z M170.876,158.793v69.527 c-0.094,10.533,3.642,20.623,10.516,28.495l36.836,42.132c4.836,5.51,11.829,8.674,19.181,8.691h37.348 c7.326-0.017,14.328-3.181,19.181-8.708l36.853-41.723c6.849-7.846,10.584-17.945,10.482-28.392c0-0.026,0-0.051,0-0.077v-90.004 l-29.228-58.456L170.876,158.793z'/%3E%3Ccircle cx='204.855' cy='154.111' r='17.058'/%3E%3Ccircle cx='298.672' cy='154.111' r='17.058'/%3E%3Cpath d='M136.599,162.759l-2.388-45.714c-3.915-46.959,24.546-90.951,69.22-106.738l12.537-4.435 C255.9-8.183,300.812,3.552,328.761,35.1c31.403,6.874,53.365,36.469,50.448,68.785l-3.829,50.542l-17.006-1.288l3.838-50.661 c2.226-24.674-15.079-47.087-39.386-51.156c-2.013-0.341-3.838-1.382-5.151-2.951c-23.224-27.864-61.825-38.465-96.026-26.414 l-12.529,4.435c-37.373,13.203-61.168,50.013-57.885,89.501l2.405,45.979L136.599,162.759z'/%3E%3Crect x='230.441' y='282.043' width='17.058' height='34.115'/%3E%3Crect x='264.556' y='282.043' width='17.058' height='25.586'/%3E%3Crect x='199.511' y='273.529' transform='matrix(-0.4472 0.8944 -0.8944 -0.4472 554.814 221.2218)' width='19.07' height='17.057'/%3E%3Crect x='294.369' y='272.855' transform='matrix(-0.9487 0.3162 -0.3162 -0.9487 680.7863 462.2126)' width='17.049' height='26.968'/%3E%3Cpath d='M85.418,511.996H68.36v-93.817c0-38.303,28.623-71.011,66.593-76.094l53.902-7.164c4.281-0.554,7.471-4.222,7.437-8.529 v-27.616h17.058v27.539c0.111,12.844-9.458,23.846-22.269,25.51l-53.876,7.164c-29.518,3.949-51.787,29.39-51.787,59.181 C85.418,418.171,85.418,511.996,85.418,511.996z'/%3E%3Cpath d='M443.627,511.996h-17.058v-93.817c-0.077-29.689-22.337-55.07-51.795-59.011l-53.885-7.164 c-12.793-1.68-22.354-12.682-22.243-25.586v-27.642h17.058v27.719c-0.043,4.375,3.156,8.034,7.429,8.606l53.902,7.164 c37.876,5.066,66.507,37.689,66.601,75.898v93.834H443.627z'/%3E%3Cpath d='M256.011,409.65c-0.017-0.009-0.043-0.009-0.043,0c-34.482,0-65.544-20.469-79.113-52.171l-5.458-12.691l15.676-6.729 l5.458,12.699c10.883,25.416,35.787,41.834,63.437,41.834c0.026-0.009,0.026-0.009,0.034,0c27.65,0,52.554-16.418,63.446-41.825 l5.458-12.708l15.676,6.729l-5.458,12.699C321.546,389.173,290.501,409.65,256.011,409.65z'/%3E%3Crect x='136.625' y='443.748' width='17.058' height='68.23'/%3E%3Crect x='76.923' y='460.806' width='68.23' height='17.058'/%3E%3Crect x='358.373' y='443.748' width='17.058' height='68.23'/%3E%3Crect x='366.902' y='460.806' width='68.23' height='17.058'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E ");
    width: 333px;
    height: 333px;
    left: 0;
    top: 0;
}