.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.info {
    position: relative;
    padding: 0 0 0 62px;
}

.info:before {
    content: '';
    position: absolute;
    width: 57px;
    height: 57px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 508 508' style='enable-background:new 0 0 508 508;' xml:space='preserve'%3E%3Ccircle style='fill:%23FD8469;' cx='254' cy='254' r='254'/%3E%3Cg%3E%3Cpath style='fill:%2384DBFF;' d='M255.2,362.8c-0.4,0-0.8,0.4-1.2,0.4c-0.4,0-0.8-0.4-1.2-0.4H255.2z'/%3E%3Cpath style='fill:%2384DBFF;' d='M451.2,414c-46.4,57.2-117.6,94-197.2,94s-150.8-36.8-197.2-94c33.2-44.4,84-66.4,125.6-77.2 c-3.2,26.4,10.4,61.6,10.8,60.8c14-32,60.8-34.8,60.8-34.8s46.8,2.8,60.4,34.8c0.4,0.8,14.4-34.4,10.8-60.8 C367.2,347.6,418.4,369.6,451.2,414z'/%3E%3C/g%3E%3Cpath style='fill:%23FFFFFF;' d='M311.2,312c0,0,0,0,0,0.4c0,4-2,29.6-56,50h-2.4c-54-20.4-56-46-56-50c0-0.4,0-0.4,0-0.4 c0-5.2,1.2-10.4,2.4-15.6c15.6,19.6,34.4,32.8,54.8,32.8s39.2-13.2,54.8-32.8C310,301.6,311.2,306.8,311.2,312z'/%3E%3Cg%3E%3Cpath style='fill:%2354C0EB;' d='M311.2,312c0,0,2.8,28.8-57.2,51.2c0,0,46.8,2.8,60.4,34.8C315.2,398.8,342,329.2,311.2,312z'/%3E%3Cpath style='fill:%2354C0EB;' d='M196.8,312c-30.8,17.2-4,86.8-3.2,85.6c14-32,60.4-34.8,60.4-34.8C194,340.8,196.8,312,196.8,312z' /%3E%3C/g%3E%3Cg%3E%3Cpath style='fill:%23FFFFFF;' d='M338,210.8c-3.6,24.8-14.4,48-32.4,65.6c-3.6,3.6-6.8,6.4-10.8,9.2l-6.4-20.4h-68.8l-6.4,20.4 c-12.8-9.6-39.6-36.4-40-61.6C162,80.4,272,110.8,272,110.8C346,105.6,343.6,170.8,338,210.8z'/%3E%3Cpath style='fill:%23FFFFFF;' d='M352.8,236.8c-5.6,9.2-13.2,15.6-20.4,18c2.8-6.4,5.2-13.2,7.2-20c0,0,0,0,0-0.4 c1.6-6,3.2-12,4.8-18H344c1.6-6,3.2-12,4.4-18c1.6,0,3.2,0.8,4.8,1.6C362,205.6,361.6,222,352.8,236.8z'/%3E%3Cpath style='fill:%23FFFFFF;' d='M175.6,254.8c-7.2-2.4-14.8-8.8-20.4-18c-9.2-14.8-9.2-31.2-0.4-36.4c0.8-0.4,1.2-0.8,2-0.8 c4.8,18.8,10.4,32.8,11.6,35.6C170.4,241.6,172.8,248.4,175.6,254.8z'/%3E%3C/g%3E%3Cpath id='SVGCleanerId_0' style='fill:%23324A5E;' d='M297.6,70.8c3.2-36.8-55.2-34.4-55.2-34.4c-88.4,12.8-98,95.2-98,95.2l12-14.4 c-18.8,41.2,9.6,112,12,117.6c14.8,49.2,47.6,94.4,85.6,94.4s70.8-45.2,85.6-94.4l0,0c0,0,0,0,0-0.4c1.6-6,3.2-12,4.4-18h-0.4 c8-32,16.8-64.4,16.8-64.4C383.2,37.2,297.6,70.8,297.6,70.8z M338,210.8c-3.6,24.8-14.4,48-32.4,65.6c-3.6,3.6-7.2,6.4-10.8,9.2 l-6.4-20h-68.8l-6.4,20.4c-12.8-9.6-23.6-22.8-32.4-38c-4-8-6.4-16.4-7.6-23.6C162,80.8,272,111.2,272,111.2 C346,105.6,343.6,170.8,338,210.8z'/%3E%3Cg%3E%3Cpath id='SVGCleanerId_0_1_' style='fill:%23324A5E;' d='M297.6,70.8c3.2-36.8-55.2-34.4-55.2-34.4c-88.4,12.8-98,95.2-98,95.2 l12-14.4c-18.8,41.2,9.6,112,12,117.6c14.8,49.2,47.6,94.4,85.6,94.4s70.8-45.2,85.6-94.4l0,0c0,0,0,0,0-0.4c1.6-6,3.2-12,4.4-18 h-0.4c8-32,16.8-64.4,16.8-64.4C383.2,37.2,297.6,70.8,297.6,70.8z M338,210.8c-3.6,24.8-14.4,48-32.4,65.6 c-3.6,3.6-7.2,6.4-10.8,9.2l-6.4-20h-68.8l-6.4,20.4c-12.8-9.6-23.6-22.8-32.4-38c-4-8-6.4-16.4-7.6-23.6 C162,80.8,272,111.2,272,111.2C346,105.6,343.6,170.8,338,210.8z'/%3E%3C/g%3E%3Cpath style='fill:%23324A5E;' d='M297.6,70.8c3.2-36.8-55.2-34.4-55.2-34.4c-88.4,12.8-98,95.2-98,95.2l12-14.4 c-18.8,41.2,9.6,112,12,117.6c14.8,49.2,47.6,94.4,85.6,94.4s70.8-45.2,85.6-94.4l0,0c0,0,0,0,0-0.4c1.6-6,3.2-12,4.4-18h-0.4 c8-32,16.8-64.4,16.8-64.4C383.2,37.2,297.6,70.8,297.6,70.8z M338,210.8c-3.6,24.8-14.4,48-32.4,65.6c-3.6,3.6-7.2,6.4-10.8,9.2 l-6.4-20h-68.8l-6.4,20.4c-12.8-9.6-39.6-36.4-40-61.6C162,80.8,272,111.2,272,111.2C346,105.6,343.6,170.8,338,210.8z'/%3E%3Cpath style='fill:%23FFFFFF;' d='M226,279.2c6.8,7.6,16.8,12.8,28,12.8c11.2,0,21.2-4.8,28-12.8H226z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    border-radius: 50%;
    left: 0;
    top: 0;
}

.info__name,
.info__surname {
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 18px;
}

.info__subtitle {
    color: #6a696b;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.menu {
    display: flex;
    max-width: 523px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    max-width: 336px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    list-style-type: none;
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.button {
    max-width: 128px;
    height: 33px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #2b2a2c;
    cursor: pointer;
}

.button__text {
    display: block;
    text-align: center;
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.button:hover {
    background: #2b2a2c;
}

.menu__item:after {
    background-color: #2b2a2c;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    position: relative;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu__item:hover:after,
.menu__item:focus:after {
    width: 100%;
}

.button__text:hover {
    color: white;
}