.project {
    display: grid;
    grid-template-columns: 430px 430px 430px;
}

.project__card {
    max-width: 380px;
    min-height: 380px;
    width: 100%;
    padding-top: 40px;
}

.project__text {
    position: relative;
    max-width: 380px;
    min-height: 70px;
    border-radius: 0 0 10px 10px;
    background-color: #f3f3f3;
    top: 300px;
}

.project__text::after {
    content: ' ';
    position: absolute;
    border-radius: 10px 10px 0 0;
    background-color: #717072;
    width: 380px;
    height: 300px;
    bottom: 70px;
}

.project__text-category {
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.6px;
    padding: 10px 0 0 20px;
}

.project__text-name {
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 38px;
    text-transform: uppercase;
    max-width: 280px;
    width: 100%;
    padding-left: 20px;
}

.project__text-data {
    color: #2b2a2c;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    float: right;
    padding-right: 15px;
    position: relative;
    bottom: 24px;
}